@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import 'bourbon/bourbon';
@import 'neat/neat';

body{
  background:white;
  color:#34495e;
  font-family: 'Source Code Pro', sans-serif;
  text-align: center;
  a{
    text-decoration: none;
  }
  a:link {
    color:#2c3e50;
    font-weight: bold;
  }
  a:visited {
    color:#2c3e50;
    font-weight: bold;
  }
  a:hover {
    color:#e74c3c;
    font-weight: bold;
  }
  a:active {color:#0000FF;}
  ul { list-style-type: none; }
}

.outer-container {
  @include span-columns(8);
  @include shift(2.5);
  margin-top:40px;
}

.header-name{
  @include shift(-1.8);
  font-size: 56px;
}

.bio{
  @include span-columns(6);
  @include shift(2);
  margin-top: 20px;
  text-align: center;
}

.projects{
  @include span-columns(6);
  @include shift(2);
  margin-top: 40px;
  text-align: center;
}

.header{
  color: #f1c40f;
  font-weight: light;
  margin-bottom: 20px;
}

.subheader* {
  margin-top: 20px;
  font-weight: light;
}

p{
  padding: 20px;
}

.footer {
  @include span-columns(8);
  @include shift(.8);
}
