@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: white;
  color: #34495e;
  font-family: 'Source Code Pro', sans-serif;
  text-align: center; }
  body a {
    text-decoration: none; }
  body a:link {
    color: #2c3e50;
    font-weight: bold; }
  body a:visited {
    color: #2c3e50;
    font-weight: bold; }
  body a:hover {
    color: #e74c3c;
    font-weight: bold; }
  body a:active {
    color: #0000FF; }
  body ul {
    list-style-type: none; }

.outer-container {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 21.32451%;
  margin-top: 40px; }
  .outer-container:last-child {
    margin-right: 0; }

.header-name {
  margin-left: -15.35365%;
  font-size: 56px; }

.bio {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 17.05961%;
  margin-top: 20px;
  text-align: center; }
  .bio:last-child {
    margin-right: 0; }

.projects {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 17.05961%;
  margin-top: 40px;
  text-align: center; }
  .projects:last-child {
    margin-right: 0; }

.header {
  color: #c0392b;
  font-weight: light;
  margin-bottom: 20px; }

.subheader* {
  margin-top: 20px;
  font-weight: light; }

p {
  padding: 20px; }

.footer {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 6.82384%; }
  .footer:last-child {
    margin-right: 0; }
